.wgpt3__container {
  background: rgb(4, 44, 84);
  background: linear-gradient(
    311deg,
    rgba(27, 137, 222, 1),
    rgb(6, 43, 81) 10% 90%,
    rgba(27, 137, 222, 1)
  );
  padding: 2rem;
}

.wgpt3__heading {
  margin: 6rem 1rem;
  display: flex;
  justify-content: space-between;
}

.wgpt3__heading h2 {
  flex: 2;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}
.wgpt3__heading p {
  text-align: end;
  flex: 1;
  color: var(--color-subtext);
}
.wgpt3__features-container {
  display: flex;
}
.wgpt3__features-feature {
  flex-direction: column;
}

@media screen and (max-width: 1050px) {
  .wgpt3__features-container {
    flex-direction: column;
  }

  .wgpt3__heading {
    flex-direction: column;
    gap: 20px;
    margin: 4rem 1rem;
  }

  .wgpt3__heading p {
    text-align: start;
  }
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 550px) {
  .wgpt3__heading h2 {
    font-size: 27px;
    line-height: 32px;
  }
}
