.feature__container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.feature__title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.feature__title-bar {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
}

.feature__title-title {
  color: #fff;
  background: none;
  font-size: 24px;
  line-height: 75px;
}

.feature__text {
  flex: 2;
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: 16px;
  line-height: 30px;
}

@media screen and (max-width: 1050px) {
  .feature__container {
    flex-direction: column;
    margin: 1rem 2rem;
  }
}
@media screen and (max-width: 550px) {
  .feature__title-title {
    font-size: 21px;
    line-height: 55px;
  }

  .feature__text {
    font-size: 14px;
    line-height: 20px;
  }
}
