.feature__container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.feature__title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.feature__title-bar {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
}

.feature__title-title {
  color: #fff;
  background: none;
  font-size: 24px;
  line-height: 75px;
}

.feature__text {
  flex: 2;
  display: flex;
  align-items: center;
  color: #81afdd;
  font-size: 16px;
  line-height: 30px;
}
