.features__container {
  display: flex;
  gap: 6rem;
}

.features__heading__container {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.features__heading__container p {
  margin-top: 3rem;
  color: var(--color-subtext);
}

.features__features__container {
  flex: 1;
}

.features__features__container h2 {
  margin-right: 3rem;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  letter-spacing: -0.04em;
}

.features__features__container p {
  margin-left: 4rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
