.features__container {
  display: flex;
  gap: 6rem;
}

.features__heading__container {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.features__heading__container h1 {
  font-size: 34px;
  line-height: 45px;
}

.features__heading__container p {
  font-size: 16px;
  line-height: 30px;
  margin-top: 3rem;
  color: var(--color-subtext);
}

.features__features__container {
  flex: 1;
}

.features__features__container h2 {
  margin-right: 3rem;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  letter-spacing: -0.04em;
}

.features__features__container p {
  margin-left: 4rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 1050px) {
  .features__features__container h2 {
    margin-top: 0.5rem;
    letter-spacing: 0.04em;
  }

  .features__features__container p {
    margin: 0.7rem 0;
  }
}

@media screen and (max-width: 700px) {
  .features__heading__container h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 550px) {
  .features__container {
    flex-direction: column;
  }

  .features__heading__container h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .features__heading__container p {
    font-size: 14px;
    line-height: 27px;
  }
}
