.header__container {
  display: flex;
  padding: 2rem 6rem;
  align-items: center;
}

.header__illustration {
  max-width: 50%;
  height: auto;
}

.header__illustration img {
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__content-heading {
  font-weight: 800;
  font-size: 4rem;
  line-height: 75px;
  /* or 121% */
  letter-spacing: -0.04em;
}

.header__content-description {
  width: 85%;
  color: var(--color-text);
  font-size: 20px;
  line-height: 27px;
}
.header__content__signup-form {
  display: flex;
  min-height: 50px;
  margin-right: 3rem;
}
.header__content button {
  flex: 0.6;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  background-color: #ff4820;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 30%;
}

.header__content input {
  color: #fff;
  width: 70%;

  background: #052d56;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  line-height: 27px;
  border: 0;
  padding: 1rem;
}

.header__content__signup-stat {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__content__signup-stat p {
  color: #fff;
  font-size: smaller;
}

@media screen and (max-width: 1050px) {
  .header__container {
    flex-direction: column;
  }

  .header__illustration {
    max-width: 85%;
  }

  .header__content {
    gap: 10px;
  }

  .header__content-heading {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .header__content-description,
  .header__content input,
  .header__content button {
    font-size: 16px;
    line-height: 20px;
  }

  .header__content button {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 700px) {
  /* .header__content-description {

    }
    
    .header__content button {
  
    }
    
    .header__content input {
    } */
}

@media screen and (max-width: 550px) {
}
