.footer__container {
  text-align: center;
  background: var(--color-footer);
}
.footer__container p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.footer__heading p {
  margin: 0 10rem;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */
  text-align: center;
  letter-spacing: -0.04em;
}

.footer__links-container {
  display: flex;
  justify-content: space-between;
}

.footer__links-container h4 {
  color: #fff;
}
@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 500px) {
}
