.footer__container {
  text-align: center;
  background: var(--color-footer);
  padding: 10rem 10rem 2rem;
}
.footer__container p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.footer__container button {
  width: 218px;
  height: 65px;
  background: none;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #ffffff;
  margin-top: 5rem;
}
.footer__heading p {
  margin: 0 10rem;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */
  text-align: center;
  letter-spacing: -0.04em;
}

.footer__links-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  text-align: start;
}

.footer__links-container h4 {
  color: #fff;
}

.footer__links-container p {
  margin-top: 2rem;
}

.footer__links-section {
  width: 10%;
}
.footer__links-section p {
  cursor: pointer;
}

.footer__links-logo__container {
  width: 15%;
}

.copyright {
  margin-top: 5rem;
}
@media screen and (max-width: 1050px) {
  .footer__container {
    padding: 5rem 4rem 2rem;
  }
  .footer__heading p {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .footer__container {
    padding: 5rem 5rem 2rem;
  }
  .footer__heading p {
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
  }

  .footer__container button {
    font-size: 16px;
    line-height: 21px;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .footer__container {
    padding: 5rem 4rem 2rem;
  }

  .footer__links-container {
    justify-content: space-between;
    margin-top: 6rem;
    text-align: start;
  }

  .footer__links-container p {
    margin-top: 1rem;
    font-size: 10px;
    line-height: 14px;
  }
  .footer__links-logo {
    width: 120%;
  }
  .footer__links-logo img {
    width: 100%;
  }
}
